
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

.user-item {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .user-id {
    font-weight: bold;
    padding-right: 300px;
  }
  
  .user-name {
    color: #333;
  }
  
  input {
    padding: 8px;
    margin-right: 10px;
  }
  
  button {
    padding: 8px;
    background-color: #4898b8;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px;
  }
  .btn-Delete{
    background-color: red;
  }
  button:hover {
    background-color: #1b91bd;
  }

  /* สไตล์พื้นฐานสำหรับ nav และปุ่ม */
nav {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #22ABE2; /* สีปุ่ม (ใช้สีที่คุณชอบ) */
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #1e90ff; /* สีเมื่อชี้เมาส์ */
}

/* --------------- css for login containner ----------------------------*/
.login-form{

    text-align: center;
}

label {
    display: inline-block;
    width: 100px; /* กำหนดความกว้างของ label ให้เท่ากัน */
    text-align: right;
    padding-right: 10px;
}
.login-container {
    text-align: center;
}